venv/
__pycache__
Data/AssemblyAIRunner/config.py
Data/AssemblyAIRunner/Audio_Downloads/
Data/AssemblyAIRunner/ffplay.exe
Data/AssemblyAIRunner/ffmpeg.exe
Data/AssemblyAIRunner/ffprobe.exe
1_Baseline.zip
1_Baseline/Data/AssemblyAIRunner/config.py
1_Baseline/Data/AssemblyAIRunner/ffplay.exe
1_Baseline/Data/AssemblyAIRunner/ffmpeg.exe
1_Baseline/Data/AssemblyAIRunner/ffprobe.exe
1_Baseline/Data/AssemblyAIRunner/Audio_Downloads/Asian_Responses_to_Imperialism_Crash_Course_World_History_213.mp3
1_Baseline/Data/AssemblyAIRunner/Audio_Downloads/The_Mughal_Empire_and_Historical_Reputation_Crash_Course_World_History_217.mp3
1_Baseline/Data/AssemblyAIRunner/Audio_Downloads/The_Agricultural_Revolution_Crash_Course_World_History_1.mp3
1_Baseline/Data/AssemblyAIRunner/Audio_Downloads/Indus_Valley_Civilization_Crash_Course_World_History_2.mp3
1_Baseline/Data/AssemblyAIRunner/Audio_Downloads/Decolonization_and_Nationalism_Triumphant_Crash_Course_World_History_40.mp3
Frontend/config_keys.py
1_MidReview/Frontend/config_keys.py
1_MidReview/Data/AssemblyAIRunner/config.py
1_MidReview/Data/AssemblyAIRunner/ffmpeg.exe
1_MidReview/Data/AssemblyAIRunner/ffprobe.exe
1_MidReview/Data/AssemblyAIRunner/ffplay.exe
1_MidReview/Data/AssemblyAIRunner/Audio_Downloads/The_Mughal_Empire_and_Historical_Reputation_Crash_Course_World_History_217.mp3
1_MidReview/Data/AssemblyAIRunner/Audio_Downloads/The_Agricultural_Revolution_Crash_Course_World_History_1.mp3
1_MidReview/Data/AssemblyAIRunner/Audio_Downloads/Indus_Valley_Civilization_Crash_Course_World_History_2.mp3
1_MidReview/Data/AssemblyAIRunner/Audio_Downloads/Decolonization_and_Nationalism_Triumphant_Crash_Course_World_History_40.mp3
1_MidReview/Data/AssemblyAIRunner/Audio_Downloads/Asian_Responses_to_Imperialism_Crash_Course_World_History_213.mp3
1_MidReview.zip
.env
Results/config_keys.py
Group1_Final_Project.zip
