venv/
__pycache__
Data/AssemblyAIRunner/config.py
Data/AssemblyAIRunner/Audio_Downloads/
Data/AssemblyAIRunner/ffplay.exe
Data/AssemblyAIRunner/ffmpeg.exe
Data/AssemblyAIRunner/ffprobe.exe
Baseline Results Deadline Submission.zip
Baseline Results Deadline Submission/Data/AssemblyAIRunner/ffplay.exe
Baseline Results Deadline Submission/Data/AssemblyAIRunner/ffmpeg.exe
Baseline Results Deadline Submission/Data/AssemblyAIRunner/ffprobe.exe
Baseline Results Deadline Submission/Data/AssemblyAIRunner/Audio_Downloads/Asian_Responses_to_Imperialism_Crash_Course_World_History_213.mp3
Baseline Results Deadline Submission/Data/AssemblyAIRunner/Audio_Downloads/The_Mughal_Empire_and_Historical_Reputation_Crash_Course_World_History_217.mp3
Baseline Results Deadline Submission/Data/AssemblyAIRunner/Audio_Downloads/The_Agricultural_Revolution_Crash_Course_World_History_1.mp3
Baseline Results Deadline Submission/Data/AssemblyAIRunner/Audio_Downloads/Indus_Valley_Civilization_Crash_Course_World_History_2.mp3
Baseline Results Deadline Submission/Data/AssemblyAIRunner/Audio_Downloads/Decolonization_and_Nationalism_Triumphant_Crash_Course_World_History_40.mp3
